<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style : italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	angular.module("myApp",[])
		.factory('taskService',function(){
			var tasks = [{"name":"Task - 1","isCompleted":false,"category":"personal"},{"name":"Task - 2","isCompleted":false,"category":"personal"},{"name":"Task - 3","isCompleted":false,"category":"personal"},{"name":"Task - 11","isCompleted":false,"category":"official"},{"name":"Task - 12","isCompleted":true,"category":"official"},{"name":"Task - 13","isCompleted":false,"category":"official"},{"name":"Task - 21","isCompleted":false,"category":"personal"},{"name":"Task - Secret","isCompleted":false,"category":"secret"},{"name":"Task - 23","isCompleted":false,"category":"personal"}];

			return {
				getAll : function(){
					return tasks.slice(0,tasks.length);
				},
				add : function(task){
					tasks.push(task);
				},
				removeCompleted : function(){
					for(var i=tasks.length-1;i>=0;i--)
						if (tasks[i].isCompleted)
							tasks.splice(i,1);
				},
				completedCount : function(category){
					return tasks.filter(function (t){ return t.isCompleted && t.category === category;}).length;
				},
				totalCount : function(category){
					return tasks.filter(function (t){ return t.category === category;}).length;
				}

			}
		})
		.controller("taskController", function taskController($scope, taskService){
			$scope.tasks = taskService.getAll();
			$scope.addTask = function(newTasks, category){
				newTasks.forEach(function(t){
					taskService.add({name : t, isCompleted : false, category : category});	
				});
				
			};
			$scope.removeCompleted = function(){
				taskService.removeCompleted();
			}
			$scope.toggle = function(task){
				task.isCompleted = !task.isCompleted;
			}
			$scope.getCompletedCount = function(){
				return taskService.completedCount($scope.taskCategory);
			}
			$scope.getTotalCount = function(){
				return taskService.totalCount($scope.taskCategory);
			}
		});
	</script>
</head>
<body  data-ng-app="myApp">
	<h1>Task Manager</h1>
	<hr>
	<div class="content" data-ng-controller="taskController">
		<span>Task :</span>
		<input type="text" data-ng-list data-ng-model="newTasks">
		<select data-ng-model="taskCategory">
			<option value="personal">Personal</option>
			<option value="official">Official</option>
		</select>
		<input type="button" value="Add Task" data-ng-click="addTask(newTasks, taskCategory)">
		<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
		<hr>
		<ul id="ulTaskList">
			<li data-ng-repeat="task in tasks | filter:taskCategory" data-ng-click="toggle(task)" data-ng-class="{completed : task.isCompleted}">{{task.name }}</li>
		</ul>
		<div>#of Completed Tasks : {{getCompletedCount()}}</div>
		<div>Total # of Tasks : {{getTotalCount()}}</div>
		<hr>
		<div>{{tasks}}</div>
	</div>
</body>
</html>