<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style : italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	angular.module("myUtils",[])
		.filter('trimTaskName', function(){
			return function(taskName, limitLength){
				taskName = taskName || "";
				return taskName.length > limitLength ? taskName.substr(0,limitLength) + "..." : taskName;
			}
		});
	angular.module("myApp",["myUtils"])
		.factory('taskModel', function(){
			function Task(defaults){
				this.name = defaults.name || "";
				this.isCompleted = defaults.isCompleted || false;
				this.category = defaults.category || "Personal";
			}
			Task.prototype.toggleCompletion = function(){
				this.isCompleted = !this.isCompleted;
			}
			return Task;
		})
		.factory('taskService',['taskModel', function(Task){
			
			var tasks = [];

			return {
				getAll : function(){
					return tasks;
				},
				add : function(taskName, category){
					tasks.push(new Task({name : taskName, category : category}));
				},
				removeCompleted : function(){
					for(var i=tasks.length-1;i>=0;i--)
						if (tasks[i].isCompleted)
							tasks.splice(i,1);
				},
				completedCount : function(category){
					return tasks.filter(function (t){ return t.isCompleted && t.category === category;}).length;
				},
				totalCount : function(category){
					return tasks.filter(function (t){ return t.category === category;}).length;
				}

			}
		}])
		.controller("taskController", ['$scope','$http', 'taskService',function taskController($scope, taskService){
			$http({method : "get", url : "/tasks"})
				.success(function(tasks){
					$scope.tasks = tasks;		
				});
		
			$scope.addTask = function(newTasks, category){
				newTasks.forEach(function(taskName){
					taskService.add(taskName,category);	
				});
			};
			$scope.removeCompleted = function(){
				taskService.removeCompleted();
			}
			$scope.toggle = function(task){
				task.isCompleted = !task.isCompleted;
			}
			$scope.getCompletedCount = function(){
				return taskService.completedCount($scope.taskCategory);
			}
			$scope.getTotalCount = function(){
				return taskService.totalCount($scope.taskCategory);
			}
		}]);
	</script>
</head>
<body  >
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-app="myApp" class="content" ng-controller="taskController">
		<input type="text" data-ng-init="taskNameLength=10" data-ng-model="taskNameLength"> <br>
		<span>Task :</span>
		<input type="text" data-ng-list ng-model="newTasks">
		<select data-ng-model="taskCategory">
			<option value="personal">Personal</option>
			<option value="official">Official</option>
		</select>
		<input type="button" value="Add Task" data-ng-click="addTask(newTasks, taskCategory)">
		<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
		<hr>
		<ul id="ulTaskList">
			<li data-ng-repeat="task in tasks | filter:taskCategory" data-ng-click="task.toggleCompletion()" data-ng-class="{completed : task.isCompleted}">{{task.name | trimTaskName : taskNameLength }}</li>
		</ul>
		<div>#of Completed Tasks : {{getCompletedCount()}}</div>
		<div>Total # of Tasks : {{getTotalCount()}}</div>
		<hr>
		<div>{{tasks}}</div>
	</div>
</body>
</html>